body{
    background-color:rgb(37, 51, 88);
}
h1{
color:white;
font-size:67px;
letter-spacing:5px;
text-align:center;
}
.vinylimg{
display:block;
margin-left:auto;
margin-right:auto;
}
.project{
display:block;
margin-left:auto;
margin-right:auto;
width:500px;
height:500px;
}
h2{
    color:white;
    font-size:47px;
    letter-spacing:5px;
    text-align:center;
}
h3{
    color:white;
}
